<%= tinymce %>
<main class="content">
  <header class="content-container">
    <div class="content-main service-header">
      <div class="service-info">
        <%= f.text_field :title, class: 'form-control', placeholder: 'Service Title' %>
      </div>
    </div>
  </header>
  <section class="content-container content-with-aside">
    <div class="content-main">
      <div class="panel panel-service"> <div class="panel-header">
          <div class="service-rating-and-prices">
            <div class="rating">
              <%= decorate(@profile).average_rating %>
              <%= display_stars(decorate(@profile).average_rating) %>
            </div>
            <div class="pricing" data-container="body" data-toggle="popover" data-placement="left" data-content="<%= decorate(@profile).display_rate %>" data-trigger="hover">
            </div>
          </div>  
        </div>
        <div class="panel-hero">
          <div class="form-group">
            <div class="image-place">
              <div class="cover-image">
                <%= image_tag @service.cover_image.medium.url, id: 'photo_show', height: 420 %>
                <div class="d-flex justify-content-center">
                  <label class="btn btn-primary mt-2">
                    Browse Photo
                    <%= f.file_field :cover_image, style: 'display: none', id: 'photo_uploader' %>
                  </label>  
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <%= f.text_area :content, class: 'tinymce', placeholder: 'Enter your content', rows: 12 %>
          <div class="form-group mt-3">  
            <label>Category</label>
            <%= f.collection_select :category_id, @categories, :id, :name, { selected: @service.category_id, include_blank: true }, { class: 'selectpicker form-control', 'data-live-search':"true" } %>
          </div>
          <div class="row form-group form-group-inline">
            <div class="col-sm-4 d-flex va-flex">
              <label>Expercoin will charge X/min:</label>
            </div>
            <div class="col-sm-7">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <%= f.text_field :expercoin_rate,'data-rate': 'expercoin', 'data-fee': @profile.commission_fee, :class => "form-control", value: number_to_currency(@service_form.expercoin_rate / 100, unit: '') %>
                <div class="input-group-prepend">
                  <span class="input-group-text"> / min</span>
                </div>
              </div>
            </div>
            <div class="col-sm-3 d-flex va-flex">
              <p>
                (<%= @profile.commission_fee %>% commission fee)
              </p>
            </div>
          </div>
          <div class="row form-group form-group-inline">
            <div class="col-sm-4 d-flex va-flex">
              <label>Rate per minute:</label>
            </div>
            <div class="col-sm-7">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <%= f.text_field :rate, class: "form-control", 'data-rate': 'hourly', 'data-fee': @profile.commission_fee, value: number_to_currency(@service_form.rate / 100, unit: '') %>
                <div class="input-group-prepend">
                  <span class="input-group-text"> / min</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row form-group form-group-inline">
            <div class="col-sm-4 d-flex va-flex">
              <label>Rate in ETH:</label>
            </div>
            <div class="col-sm-7">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><%= ENV['CURRENCY'] %></span>
                </div>
                <%= label_tag :expercoin_eth_rate, Eth::UsdConverter.new(number_to_currency(@service_form.expercoin_rate / 100, unit: '').to_i).eth_value, unit: '' ,'data-rate': 'expercoin-eth', 'data-eth-usd-rate': Eth::UsdConverter.new(1).usd_value, class: "form-control" %>
                <div class="input-group-prepend">
                  <span class="input-group-text"> / min</span>
                </div>
              </div>
            </div>
          </div>
          <%= f.submit 'Save', class: 'btn btn-success btn-lg' %>
        </div>
      </div>
    </div>
    <div class="content-aside">
      <%= render 'shared/msp/profile_card', profile: @profile, request_url: new_request_path(expert: @profile.slug, service: @service.slug)  %>
    </div>
  </section>

</main>
