<main class="content">
  <header class="content-container">
    <div class="content-main service-header">
      <div class="service-info">
        <h1><%= @service.title %></h1>
        <ol class="breadcrumb services-breadcrumb">
          <li class="breadcrumb-item"><%= link_to @service.category.parent.name, category_path(@service.category.parent) %></li>
          <li class="breadcrumb-item"><%= link_to @service.category.name, category_subcategory_path(@service.category.parent, @service.category) %></li>
        </ol>
        <% if @service.owner.try(:id) == current_user.try(:id) %>
          <div class="service-controls">
            <%= link_to edit_service_path(@service), class: 'btn btn-primary' do %>
              <i class="fa fa-pencil" aria-hidden="true"></i>
            <% end %>
            <a href='javascript:void(0)' data-toggle="modal" data-target="#deleteServiceModal-<%= @service.id %>" class="btn btn-danger" >
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </a>
          </div>  
        <% end %>
      </div>
    </div>
  </header>
  <section class="content-container content-with-aside">
    <div class="content-main">
      <div class="panel panel-service">
        <div class="panel-header">
          <div class="service-rating-and-prices">
            <div class="rating">
              <%= decorate(@service).rating %>
              <%= display_stars(decorate(@service).rating) %>
            </div>
            <div class="pricing" data-container="body" data-toggle="popover" data-placement="left" data-content="<%= decorate(@service).starting_price_full %>" data-trigger="hover">
              <span class="text">Starting at</span>
              <span class="value"></span>
            </div>
          </div>  
        </div>
        <div class="panel-hero">
          <%= image_tag @service.cover_image.medium.url %>
        </div>
        <div class="panel-body">
          <%= @service.content.html_safe %>
        </div>
      </div>
    </div>
    <div class="content-aside">
      <%= render 'shared/msp/profile_card', profile: @service.owner.profile, request_url: new_request_path(expert: @service.owner.profile.slug, service: @service.slug)  %>
    </div>
  </section>
</main>

<%= render 'shared/msp/delete_service_modal', service: @service %>
