<nav class="content-nav">
  <%= render "shared/subnavbar", active: "requests" %>
</nav>
<main class="content content-with-nav">
  <section class="verify-transaction">
    <div class="content-container content-container-narrow">
      <div class="content-title">
        <h3>Verify Call Session</h3>
      </div>
      <div class="request-transaction">
        <div class="transaction-info">
          <p>You requested length of <%= @request.requested_length %>, where expert rate is <%= "EXPR #{ @request.expert.expercoin_rate }" %></p>
          <p>Please send amount of <%= "EXPR #{decorate(@request).amount}" %> to the following ETH address:</p>
          <p class="eth-address">
          <%= ENV['ETH_ADDRESS'] %>
          </p>
        </div>
        <div class="transaction-verification">
          <h4>Transaction ID</h4>
          <%= form_with scope: :verify do |f| %>
            <div class="form-group">
              <%= f.text_field :tx_hash, class: 'form-control' %>
            </div>
            <%= f.submit 'Verify', class: 'btn btn-success btn-md btn-md-lgr' %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</main>
<%= render 'shared/notice_box', message: @error_message, type: 'error', name: '' %>
