<% if current_user %>
  <nav class="content-nav">
    <%= render "shared/subnavbar",  url: services_path, active: "mentors" %>
  </nav>
<% end %>  
<main class="content <%= 'content-with-nav' if current_user %>">
  <header class="content-container content-with-aside">
    <div class="mentor-header content-main">
      <div class="mentor-image">
        <%= render "shared/profile_photo", photo: @profile.photo.thumb.url %>
      </div>
      <div class="mentor-info">
        <h1><%= decorate(@profile).full_name %></h1>
        <p><%= @profile.title %></p>
        <div class="location">
          <i class="fa fa-map-marker"></i>
          <%= decorate(@profile).display_location_with_abbreviation %>
        </div>
      </div>
    </div>
    <div class="mentor-pricings content-aside">
      <h2 data-container="body" data-toggle="popover" data-placement="top" data-content="<%= ENV['CURRENCY'] %> <%= decorate(@profile).display_rate %>" data-trigger="hover"><span class="currency"></span><%= number_to_currency(decorate(@profile).display_rate_in_usd) %><span class="per"> per minute</span></h2>
      <%= link_to "Schedule Session", new_request_path(expert: @profile) , class: 'btn btn-success btn-block btn-upc' unless @profile == current_user.try(:profile) %>
    </div>
  </header>
  <section class="content-container content-with-aside">
    <div class="content-main">
      <div class="panel panel-tabbable">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#overview" role="tab">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#offerings" role="tab">Offerings</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane" id="overview" role="tabpanel">
            <% if @profile.video_url %>
              <div class="embed-responsive embed-responsive-16by9 mb-4">
                <iframe class="embed-responsive-item" src="<%= @profile.video_url %>" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
              </div>
            <% end %>
            <%= @profile.about&.html_safe %>
          </div>
          <div class="tab-pane" id="reviews" role="tabpanel">
            <div class="mentor-reviews">
              <% @profile.reviews.each do |review| %>
                <div class="review">
                  <div class="review-avatar">
                    <%= render "shared/profile_photo", photo: review.author.photo_url %>
                  </div>
                  <div class="review-body">
                    <h4><a><%= decorate(review.author).full_name %></a></h4>
                    <p class="quote">"<%= review.message %>"</p>
                    <div class="review-tags">
                      <p class="tags-label">Expertise & Skill</p>
                      <%= display_categories(review.author) %>
                    </div>
                  </div>
                  <div class="review-rating">
                    <ul class="rating-data">
                      <li>
                        <%= display_stars review.rate %>
                        (<%= review.rate %>)
                      </li>
                      <li>Posted <span class="strong"><%= review.created_at.strftime("%b %d, %Y")  %></span>
                      </li>
                    </ul>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="tab-pane active" id="offerings" role="tabpanel">
            <div class="mentor-services">
              <% @profile_services.each do |service| %>
                <div class="service">
                  <div class="service-hero">
                    <%= render 'shared/service_photo', photo: service.cover_image.thumb.url %>
                  </div>
                  <div class="service-body">
                    <h4><%= link_to service.title, service_path(service) %></h4>
                  </div> 
                  <div class="service-details">
                    <ul class="service-data">
                      <li>
                        <span class="strong" data-container="body" data-toggle="popover" data-placement="left" data-content="<%= decorate(service).display_rate %>" data-trigger="hover"><%= number_to_currency(decorate(service).display_rate_in_usd) %></span> per minute
                      </li>
                      <li>Created <span class="strong"><%= service.created_at.strftime("%b %d, %Y")  %></span>
                      </li>
                    </ul>
                  </div> 
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-aside">
      <div class="panel">
        <div class="panel-stats">
          <ul class="stats">
            <li><span class="value"><%= @profile.requests.completed.count %></span><span class="legend">Calls</span></li>
            <li><span class="value"><%= @profile.reviews.count %></span><span class="legend">Reviews</span></li>
            <li><span class="value"><%= CallLength.new(@profile.requests).average_length %> Min</span><span class="legend">Avg. Call</span></li>
          </ul>
        </div>
        <div class="panel-body mentor-panel-bio">
          <h5 class="strong">My Expertise</h5>
          <% @profile.specialization.each do |key, value| %>
            <div><%= value %></div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</main>
