<aside class="sidebar">
  <%# <%= render "shared/corporate/sidebar", active: "mentorship" %>
</aside>
<nav class="content-nav">
  <%= render "shared/subnavbar",  url: services_path, active: "my mentors" %>
</nav>
<main class="content content-with-nav">
  <div class="content-container">
    <div class="mentors mentors-landscape m-t-3">
      <% @mentors.each do |mentor| %>
        <%= render 'shared/msp/horizontal_profile_card', mentor: mentor, request_url: new_request_path(expert: mentor.slug) %>
      <% end %>
    </div>
  </div>
</main>

<%= form_with scope: :asset, url: assets_path, html: { class: 'd-none' } do |f| %>
  <%= f.file_field :file %>
  <%= f.submit 'save' %>
<% end %>
