<nav class="content-nav">
  <div class="content-nav-container">
    <ul class="content-nav-list">
      <li>
        <%= link_to 'Active Calls', calls_path, class: "#{'active' if !@history}"  %>
      </li>
      <li>
        <%= link_to 'History', calls_history_index_path, class: "#{'active' if @history}"  %>
      </li>
    </ul>  
  </div>
</nav>
<% if @request.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>
    <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<main class="content content-with-nav">
  <header class="content-container content-with-aside">
    <div class="mentor-header mentor-header-sm content-main">
      <div class="mentor-image">
       <%= render 'shared/profile_photo', photo: @profile.photo.thumb.url  %>
      </div>
      <div class="mentor-info">
        <h1><%= decorate(@profile).full_name %></h1>
        <p><%= @profile.title %></p>
        <div class="location">
          <% unless decorate(@profile).display_location_with_abbreviation.empty? %>
            <i class="fa fa-map-marker"></i>
            <%= decorate(@profile).display_location_with_abbreviation %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="mentor-pricing-and-rating content-aside"  >   
      <p class="pricing" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= ENV['CURRENCY'] %> <%= decorate(@profile).display_rate(@service) %>" data-trigger="hover"><span class="currency"></span><%= number_to_currency(decorate(@profile).display_rate_in_usd(@service)) %><span class="per"> per minute</span></h2>
      <p class="rating">
        <%= display_stars ProfileRating.new(@profile).average_rating, 'Rating' %>
      </p> 
    </div>  
  </header>
  <section class="content-container content-with-aside">
    <div class="content-main">
      <div class="panel">
        <div class="request-description">
          <h2 class="title"><%= @request.title %></h2>
          <span class="strong category">Category: <%= @category.try(:name) %></span>
          <p><%= @request.message %></p>
        </div>
        <div class="request-status">
          <span class="strong">Status</span>
          <span class="strong"><%= @request.status %></span>
        </div>
      </div>
      <div class="panel">
        <%= render 'shared/msp/join_request_room'%>
      </div>
    </div>
    <div class="content-aside">
      <div class='panel'>
        <div class='panel-body'>
          <%= render 'shared/msp/aside_buttons', profile: @profile %>
        </div>
      </div>
    </div>
  </section>
</main>
<%= render 'inbox/message_modal', profile: @profile %>
