<div class="mentor-container">
  <div class="mentor-card mentor-card-panoramic">
    <%# <% if profile.country == 'United States' %>
    <%#   <%= image_tag "usa_flag.png", class: "card-flag" %>
    <%# <% end %>
    <div class="card-hero">
      <%= render "shared/profile_photo", photo: profile.photo.thumb.url %>
    </div>
    <div class="card-body">
      <h4><%= link_to decorate(profile).full_name, profile_path(profile) %></h4>
      <div class="mentor-title">
        <%= profile.title %>
      </div>
      <div class="mentor-bio">
        <%= profile.about&.html_safe %>
      </div>
      <div class="mentor-location">
        <i class="fa fa-map-marker"></i>
        <%= decorate(profile).display_location_with_abbreviation %>
      </div>
    </div>
    <div class="card-footer">
      <div class="footer-block mentor-price" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= ENV['CURRENCY'] %> <%= decorate(profile).expercoin_rate %>" data-trigger="hover">
         <%=  number_to_currency(decorate(profile).display_rate_in_usd) %>
      </div>
      <div class="footer-block mentor-reviews">
        <%= rating = ProfileRating.new(profile).average_rating %>
        <%= display_stars(rating) %>
      </div>
      <div class="footer-block mentor-actions">
        <%= link_to "Schedule Session", request_url, class: 'btn btn-footer' unless profile == current_user.try(:profile) %>
        <!-- <a class="btn btn-footer-icon btn-message" href="#" data-toggle="modal" data-target="#message-mentor-modal-<%= profile.id %>"></a>
        <a class="btn btn-footer-icon btn-add"></a> -->
      </div>
    </div>

  </div>
</div>
  <%#= render 'shared/corporate/msp/message_mentor_modal', expert: expert %>
