<div class="mentor-container">
  <div class="mentor-card mentor-card-panoramic">
    <%# <% if profile.country == 'United States' %>
    <%#   <%= image_tag "usa_flag.png", class: "card-flag" %>
    <%# <% end %>
    <div class="card-hero">
      <%= render "shared/profile_photo", photo: profile.try(:photo).thumb.url %>
    </div>
    <div class="card-body">
      <h4><%= link_to decorate(profile).full_name, profile_path(profile) %></h4>
      <div class="mentor-title">
        <%= profile.title %>
      </div>
      <div class="mentor-bio">
        <%= profile.about %>
      </div>
      <div class="mentor-location">
        <i class="fa fa-map-marker"></i>
        <%= decorate(profile).display_location_with_abbreviation %>
      </div>
    </div>
    <div class="card-footer">
      <div class="footer-block mentor-price-and-reviews">
        <span class="mentor-price"><%= decorate(profile).exc_price.html_safe %></span>
        <span class="mentor-reviews">
          <%= rating = ProfileRating.new(profile).average_rating %>
          <%= display_stars(rating) %>
        </span>
      </div>
      <div class="footer-block mentor-actions">
        <%= link_to "Schedule Session", new_request_path(expert: profile.slug), class: 'btn btn-footer' unless profile == current_user.try(:profile) %>
        <!-- <a class="btn btn-footer-icon btn-message" href="#" data-toggle="modal" data-target="#message-mentor-modal-<%= profile.id %>"></a>
        <a class="btn btn-footer-icon btn-add"></a> -->
      </div>
    </div>

  </div>
</div>
  <%#= render 'shared/corporate/msp/message_mentor_modal', expert: expert %>
