<div class="service-container">
  <div class="service-card"> 
    <div class="card-hero">
      <%= link_to service_url do %>
        <%= render 'shared/service_photo', photo: service.cover_image.thumb.url %>
      <% end %>  
    </div>
    <div class="card-body">
      <div class="service-owner">
        <% if service.owner.present? %>
          <%= render "shared/profile_photo", photo: service.owner.photo.badge.url %>
          <%= link_to decorate(service.owner).full_name, profile_path(service.owner) %>
        <% else %>
          <%= image_tag "expercoin_logo.png", class: 'expercoin-service' %>  
        <% end %>
      </div>
      <h4><%= link_to service.title, service_url %></h4>
      <div class="service-rating-and-prices">
        <div class="pricing" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= decorate(service).display_rate %>" data-trigger="hover">
          <span class="value"><%= number_to_currency(decorate(service).display_rate_in_usd) %></span>
          <span class="text">per minute</span>
        </div>
        <div class="rating-and-wishlist">
          <div class="rating">
            <%= decorate(service.owner).average_rating %>
            <%= display_stars(decorate(service.owner).average_rating) %>
          </div>
          <div class="wishlist">
            <% if current_user %>
              <%= link_to wishlist_create_path(service), remote: true, method: :post do %>
                <span id="wishlist-<%= service.id%>">
                  <i class="fa <%= service.wishlisted_by(current_user.try(&:profile)) ? 'fa-heart' : 'fa-heart-o' %>" aria-hidden="true"></i>
                </span>
              <% end %>
            <% end %>
          </div>  
        </div>
      </div>  
    </div>
    <% if service.owner.try(:id) == current_user.try(:id) %>
      <div class="card-controls">
        <%= link_to edit_service_path(service) do %>
          <i class="fa fa-pencil" aria-hidden="true"></i>
        <% end %>  
        <a href='javascript:void(0)' data-toggle="modal" data-target="#deleteServiceModal-<%= service.id %>">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </a>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/msp/delete_service_modal", service: service %>
