<div class='session-details-mentor'>
  <div class="mentor-header mentor-header-sm content-main">
    <div class="mentor-image">
      <%= render "shared/profile_photo", photo: profile.photo&.url %>
    </div>
    <div class="mentor-info">
      <span>Your Mentor</span>
      <h1><%= decorate(profile).full_name %></h1>
      <p><%= @expert.title %></p>
    </div>
    <div class='session-details-mentor-price-and-rating'>
      <div class='mentor-price'>
        <span class="strong"> EXPR <%= profile.expercoin_rate %></span>/min
      </div>
      <div class='mentor-rating'>
        <p class="rating">
        <span class="text-uppercase">Rating</span>
        <%= display_stars(ProfileRating.new(profile).average_rating) %>
        </p>
      </div>
    </div>
  </div>
    
  <div class="session-details-request">
    <h4 class="strong title"><%= @request.title %></h4>
    <span class="category">Category: Marketing</span>
    <p><%= @request.message %></p>
  </div>
</div>
