<nav class="navbar navbar-expand-lg fixed-top">
  <%= link_to root_path, class: 'navbar-brand' do %>
    <%= image_tag "expercoin_logo.png" %>
    Expercoin
  <% end %>  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_content" aria-controls="navbar_content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar_content">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown categories-dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Browse
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="inner-menu">
            <div class="categories-menu menu-block">  
              <% Category.main.each do |category| %>
                <a class="dropdown-item category-item" href="<%= category_path(category) %>" data-id="<%= category.id %>"><%= category.name %></a>
              <% end %>
            </div>
            <div class="subcategories-menu menu-block">
              <% Category.main.each do |category| %>
                <div class="category-subcategories" data-id="<%= category.id %>">
                  <div class="category-name"><%= category.name %></div>
                  <% category.subcategories.order(name: :asc).each do |subcategory| %>
                    <a class="dropdown-item subcategory-item" href="<%= category_subcategory_path(category, subcategory) %>"><%= subcategory.name %></a>
                  <% end %>
                </div>    
              <% end %>
            </div>
          </div>  
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <% if current_user %>
        <li class="nav-item dropdown notification-dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="notification_dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if decorate(current_user.profile).unread_notifications? %>
              <i class="fa fa-bell" aria-hidden="true"></i>
              <span class="notification-counter"><%= decorate(current_user.profile).unread_notifications %></span>
            <% else %>
              <i class="fa fa-bell-slash" aria-hidden="true"></i>
            <% end %>  
          </a>
          <div class="dropdown-menu notifications" aria-labelledby="notification_dropdown">
            <%= render 'shared/notifications', user: current_user %> 
          </div>
        </li>
        <li class="nav-item dropdown profile-dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="profile_dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= decorate(current_user.profile).full_name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="profile_dropdown">
            <%= link_to 'Dashboard', dashboard_index_path, class: 'dropdown-item' %>
            <%= link_to 'Inbox', inbox_index_path, class: 'dropdown-item' %>
            <%= link_to 'Account', account_index_path, class: 'dropdown-item' %>
            <%= link_to 'Edit Profile', settings_path, class: 'dropdown-item' %>
            <%= link_to "Log Out", destroy_user_session_path,  method: :delete, class: "dropdown-item"%>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#modal_signup">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#modal_login">Login</a>
        </li>
      <% end %>  
    </ul>
  </div>
</nav>
