<div class="profile-sidebar">
  <div class="list-group side-nav-1">
    <a class="<%= ('active' if locals[:link] == 'basic_info') %> list-group-item" href="<%= edit_profile_path(@profile) %>">
      <span>
        <div class="basic-info-grey"></div>
      </span>
      Basic Info
    </a>
    <a class="<%= ('active' if locals[:link] == 'about') %> list-group-item" href="<%= edit_profile_path(@profile, 'about') %>">
      <span>
        <div class="basic-info-grey"></div>
      </span>
      About
    </a>
    <a class="<%= ('active' if locals[:link] == 'help-people-find-you') %> list-group-item double-line-item" href="<%= edit_profile_path(@profile, 'help-people-find-you') %>">
      <span>
        <div class="help-grey"></div>
      </span>
      <span class="double-line">
        Help people
        <br/>
        find you
      </span>
    </a>
  </div>
</div>
