<div class="full-height">
  <div class="list-group side-nav-1">
    <a class="<%= ('active' if locals[:link] == 'basic_info') %> list-group-item" href="<%=  %>">
      <span>
        <div class="basic-info-grey"></div>
      </span>
      Basic Info
    </a>
    <a class="<%= ('active' if locals[:link] == 'description') %> list-group-item" href="<%=  %>">
      <span>
        <div class="description-grey"></div>
      </span>
      Service Offerings
    </a>
    <a class="<%= ('active' if locals[:link] == 'credentials') %> list-group-item" href="<%=  %>">
      <span>
        <div class="credentials-grey"></div>
      </span>
      Credentials
    </a>
    <a class="<%= ('active' if locals[:link] == 'categories') %> list-group-item double-line-item" href="<%=  %>">
      <span>
        <div class="help-grey"></div>
      </span>
      <span class="double-line">
        Help people
        <br/>
        find you
      </span>
    </a>
  </div>
</div>
