<div class="profile-sidebar">
  <div class="list-group side-nav-1">
    <a class="<%= ('active' if locals[:active] == 'basic_info') %> list-group-item" href="<%= settings_path %>">
      <span>
        <div class="basic-info-grey"></div>
      </span>
      Basic Info
    </a>
    <a class="<%= ('active' if locals[:active] == 'about') %> list-group-item" href="<%= settings_about_index_path %>">
      <span>
        <div class="basic-info-grey"></div>
      </span>
      About
    </a>
    <a class="<%= ('active' if locals[:active] == 'video') %> list-group-item double-line-item" href="<%= settings_video_index_path %>">
      <span>
        <div class="help-grey"></div>
      </span>
      <span class="double-line">
        Your Video Pitch
      </span>
    </a>
    <a class="<%= ('active' if locals[:active] == 'find') %> list-group-item double-line-item" href="<%= settings_categories_path %>">
      <span>
        <div class="help-grey"></div>
      </span>
      <span class="double-line">
        Help people
        <br/>
        find you
      </span>
    </a>
    <a class="<%= ('active' if locals[:active] == 'address') %> list-group-item" href="<%= settings_wallet_index_path %>">
      <span>
        <div class="basic-info-grey"></div>
      </span>
      My Expercoin Wallet
    </a>
  </div>
</div>
