<div class="mentor-reviews request-info-reviews">
  <h2 class="title">Your Review</h2>
  <div id='output' data-transaction-screen></div>
  <% if review.nil? %>
    <%= form_for Review.new, url: reviews_path do |f| %>
      <%= f.hidden_field :tx_hash %>
      <%= f.hidden_field :request_id, value: req.id %>
      <div class="form-group">
        <%= f.label :rate %>
        <ul class="rating-stars">
          <input type="radio" id="star_0" name="review[rate]" value="1" checked/>
          <li><input type="radio" id="star_1" name="review[rate]" value="1" /><label for="star_1" class="star-label"><i class="fa fa-star-o"></i></label></li>
          <li><input type="radio" id="star_2" name="review[rate]" value="2" /><label for="star_2" class="star-label"><i class="fa fa-star-o"></i></label></li>
          <li><input type="radio" id="star_3" name="review[rate]" value="3" /><label for="star_3" class="star-label"><i class="fa fa-star-o"></i></label></li>
          <li><input type="radio" id="star_4" name="review[rate]" value="4" /><label for="star_4" class="star-label"><i class="fa fa-star-o"></i></label></li>
          <li><input type="radio" id="star_5" name="review[rate]" value="5" /><label for="star_5" class="star-label"><i class="fa fa-star-o"></i></label></li>
        </ul>
      </div>
      <div class="form-group">
        <%= f.label :message %>
        <%= f.text_area :message, class: 'form-control', rows: '4' %>
      </div>
      <%= f.submit 'save', class: 'hidden', data: { 'review-form-submit': true } %>
      <button type='button' class='btn btn-primary btn-md btn-md-lgr' data-review-submit>
        Save
      </button>
    <% end %>
  <% else %>
    <div class="review">
      <div class="review-avatar">
        <%= render "shared/profile_photo", photo: review.author.photo&.url %>
      </div>
      <div class="review-body">
        <h4><a><%= decorate(review.author).full_name %></a></h4>
        <p class="quote">"<%= review.message %>"</p>
      </div>
      <div class="review-rating">
        <ul class="rating-data">
          <li>
            <%= display_stars review.rate %>
            (<%= review.rate %>)
          </li>
          <li>Posted <span class="strong"><%= review.created_at.strftime("%b %d, %Y")  %></span>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
</div> 
<script>
  window.done = false;
  $(document).on("turbolinks:load",function(){
    if($('[data-transaction-screen]').length) {
      $(document).on("click", "[data-review-submit]", function(){
        if (typeof web3 !== 'undefined') {
          window.web3 = new Web3(web3.currentProvider);
          var toAddress = "<%= ENV['ETH_ADDRESS'] %>";
          var ethAmount = <%= 0.0417334991420286e0 %>;
          var data = web3.fromAscii("Review message: " + $('#review_message').val() + ", rate: "+ $('[name="review[rate]"]:checked').last().val());
          if(!window.done) {
            window.done = true;
            web3.eth.sendTransaction({
              to: toAddress,
              value: 0,
              data: data,
              gas: 210000
            }, function (error, result) {
              if (error) {
                // $('#output').html("Something went wrong!");
              } else {
                $('#review_tx_hash').val(result);
                $('[data-review-form-submit]').click();
                // $('#output').html("Track the payment: <a href='https://etherscan.io/tx/" + result + "'>https://etherscan.io/tx/" + result + "'");
              }
            });
          }
        } else {
          $('#output').html('Please download and install Metamask: <a href="https://metamask.io/">https://metamask.io/</a>');
        }
       });
    }
  });
</script>
