<div class="content-nav-container">
  <ul class="content-nav-list">
    <li>
      <%= link_to 'Find Offerings', services_path, class: "#{'active' if active == 'mentors'}"  %>
    </li>
    <li>
      <%= link_to 'My Mentors', my_mentors_path, class: "#{'active' if active == 'my mentors'}"  %>
    </li>
    <li>
      <%= link_to 'My Requests', requests_path, class: "#{'active' if active == 'requests'}"  %>
    </li>
    <li>
      <%= link_to 'Payments', payments_path, class: "#{'active' if active == 'payments'}"  %>
    </li>
    <li>
      <div class='search-tab'>
        <%= form_tag(url, method: :get, enforce_utf8: false) do %>
          <i class="fa fa-search"></i>
          <%= text_field_tag :search, params[:search], class: "", placeholder: "Search Offerings" %>
        <% end %>
      </div>
    </li>
  </ul>
</div>
