<div class="profile-title-section">
  <div class="container">
    <h2 class="profile-name">
      <%= decorate(@profile).full_name %>
        <span>
          Profile
        </span>
    </h2>
  </div>
</div>
<div class="container profile-form-container d-flex">
  <%= form_with model: @profile_form, url: settings_path, class: 'd-flex' do |f| %>
      <div class="row">
      <div class="col-sm-3">
        <%= render 'shared/profile_navigation', locals: {active: 'basic_info'} %>
      </div>
      <div class="col-sm-9">
        <h4 class="card-form-title mt-3">
          Basic Information
        </h4>
        <div class="card card-form">
          <div class="card-body">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>First Name</label>
                <%= f.text_field :first_name, :class => "form-control" %>
              </div>
              <div class="form-group col-md-6">
                <label>Last Name</label>
                <%= f.text_field :last_name, :class => "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <label>Display Name</label>
              <%= f.text_field :name, :class => "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label "Title" %>
              <%= f.text_field :title, :class=> ("form-control"), :placeholder => "e.g. Market Research Analyst focused on Healthcare using Qualitative Methods" %>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <%= f.label :professional_role %>
                <%= f.text_field :professional_role, class: "form-control" %>
              </div>
              <div class="form-group col-md-6">
                <label>Years of Professional Experience</label>
                <%= f.text_field :years_of_experience, :class => "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <label>
                Profile Picture
              </label>
              <div class="image-place" id="user_photo_drop_zone">
                <div class="file-input-wrapper">
                  <%= render 'shared/profile_photo', photo: @profile_form.photo_url %>
                  <!-- <button class="btn&#45;file&#45;input btn"> -->
                  <!--   <span> -->
                  <!--     Drop file here or -->
                  <!--   </span> -->
                  <!--   Browse -->
                  <!--   <span> -->
                  <!--     to add attachments -->
                  <!--   </span> -->
                  <!-- </button> -->
                  <%= f.file_field :photo %>
                </div>
              </div>
            </div>
            <!-- <div class="form&#45;check form&#45;group"> -->
            <!--   <input type="checkbox" class="form&#45;check&#45;input"> -->
            <!--   <label class="form&#45;check&#45;label"> -->
            <!--     I am interested in providing mentorship and advisory services on Expercoin's on&#45;demand learning and mentorship platform. -->
            <!--   </label> -->
            <!-- </div> -->
            <!-- <div class="form&#45;check form&#45;group"> -->
            <!--   <input type="checkbox" class="form&#45;check&#45;input"> -->
            <!--   <label class="form&#45;check&#45;label"> -->
            <!--       I am interested in being recommended for the full&#45;time positions? -->
            <!--   </label> -->
            <!-- </div> -->
          </div>
        </div>
        <h4 class="card-form-title">
          <span class="rate"></span>
          Minimum rate per minute
        </h4>
        <div class="card card-form">
          <div class="card-body">
            <div class="row form-group">
              <div class="col-sm-3 offset-md-2">
                  <label>Expercoin will charge X/min:</label>
              </div>
              <div class="col-sm-4">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><%= ENV['CURRENCY'] %></span>
                  </div>
                  <%= f.text_field :expercoin_rate,'data-rate': 'expercoin', 'data-fee': @profile.commission_fee, :class => "form-control" %>
                  <div class="input-group-prepend">
                    <span class="input-group-text"> / min</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-3 offset-md-2">
                    <label>Rate per minute:</label>
                </div>
                <div class="col-sm-4">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><%= ENV['CURRENCY'] %></span>
                    </div>
                    <%= f.text_field :rate, class: "form-control", 'data-rate': 'hourly', 'data-fee': @profile.commission_fee %>
                    <div class="input-group-prepend">
                      <span class="input-group-text"> / min</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                    <p>
                        (<%= @profile.commission_fee %>% commission fee)
                      </p>
                </div>
              </div>
          </div>
        </div>
        <h4 class="card-form-title">
          <span class="location"></span>
          Your Location
        </h4>
        <div class="card card-form">
          <div class="card-body">
            <div class="form-group">
              <label>
                Your Address
                <!-- <i class="fa fa&#45;lock"></i> -->
                <!-- <span class="label&#45;notice"> -->
                <!--   Will not be displayed publicly, but is needed to process your payments. -->
                <!-- </span> -->
              </label>
              <%= f.text_field :address, :class => "form-control" %>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                  <%= f.label "Country" %>
                  <%= f.text_field :country, :class => "form-control" %>
              </div>
              <div class="form-group col-md-6">
                  <%= f.label "State" %>
                  <%= f.text_field :state, :class => "form-control" %>
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <%= f.label "City" %>
                    <%= f.text_field :city, :class => "form-control" %>
                </div>
                <div class="form-group col-md-6">
                    <%= f.label "Zip Code" %>
                    <%= f.text_field :zip_code, :class => "form-control" %>
                </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end mb-5">
          <%= f.submit "Save", class: "btn btn-primary btn-wide" %>
        </div>
      </div>
      
  <% end %>
</div>
<%= render 'shared/notice_box', message: 'Successfully Saved!', type: 'success', name: '' %>
