<div class="profile-title-section">
  <div class="container">
    <h2 class="profile-name">
      <%= decorate(@profile).full_name %>
        <span>
          Profile
        </span>
    </h2>
  </div>
</div>
<div class="container profile-form-container d-flex">
  <%= form_with model: @profile_form, url: settings_path, class: 'd-flex' do |f| %>
      <div class="row">
      <div class="col-sm-3">
        <%= render 'shared/profile_navigation', locals: {active: 'basic_info'} %>
      </div>
      <div class="col-sm-9">
        <div class="profile-panel">
          <div class="panel-header">
            <h4>Basic Information</h4>
          </div>
          <div class="panel-body">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>First Name</label>
                <%= f.text_field :first_name, :class => "form-control" %>
              </div>
              <div class="form-group col-md-6">
                <label>Last Name</label>
                <%= f.text_field :last_name, :class => "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label "Title" %>
              <%= f.text_field :title, :class=> ("form-control"), :placeholder => "e.g. Market Research Analyst focused on Healthcare using Qualitative Methods" %>
            </div>
            <div class="form-group">
              <label>
                Profile Picture
              </label>
              <div class="image-place" id="user_photo_drop_zone">
                <div class="profile-image">
                  <%= render 'shared/profile_photo', photo: @profile_form.photo_url %>
                  <label class="btn btn-primary">
                      Browse Photo<%= f.file_field :photo, style: 'display: none;' %>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-panel">
          <div class="panel-header">
            <h4>Minimum rate per minute</h4>
          </div>
          <div class="panel-body">
            <div class="row form-group form-group-inline">
              <div class="col-sm-4 d-flex va-flex">
                <label>Expercoin will charge X/min:</label>
              </div>
              <div class="col-sm-6">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <%= f.text_field :expercoin_rate,'data-rate': 'expercoin', 'data-fee': @profile.commission_fee, :class => "form-control", value: number_to_currency(@profile_form.expercoin_rate / 100, unit: '') %>
                  <div class="input-group-prepend">
                    <span class="input-group-text"> / min</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 d-flex va-flex">
                <p>
                  (<%= @profile.commission_fee %>% commission fee)
                </p>
              </div>
            </div>
            <div class="row form-group form-group-inline">
              <div class="col-sm-4 d-flex va-flex">
                <label>Rate per minute:</label>
              </div>
              <div class="col-sm-6">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <%= f.text_field :rate, class: "form-control", 'data-rate': 'hourly', 'data-fee': @profile.commission_fee, value: number_to_currency(@profile_form.rate / 100, unit: '') %>
                  <div class="input-group-prepend">
                    <span class="input-group-text"> / min</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row form-group form-group-inline">
              <div class="col-sm-4 d-flex va-flex">
                <label>Rate in ETH:</label>
              </div>
              <div class="col-sm-6">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><%= ENV['CURRENCY'] %></span>
                  </div>
                  <%= label_tag :expercoin_eth_rate, Eth::UsdConverter.new(@profile_form.expercoin_rate).eth_value, unit: '' ,'data-rate': 'expercoin-eth', 'data-eth-usd-rate': Eth::UsdConverter.new(1).usd_value, class: "form-control" %>
                  <div class="input-group-prepend">
                    <span class="input-group-text"> / min</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-panel">
          <div class="panel-header">
            <h4>Your Location</h4>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label>
                Your Address
              </label>
              <%= f.text_field :address, :class => "form-control" %>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                  <%= f.label "Country" %>
                  <%= f.select :country, CS.countries.map{ |c| c.second }, { include_blank: true }, { class: 'form-control selectpicker', data: { remote: true, url: states_settings_path, method: 'get' } } %>
              </div>
              <div class="form-group col-md-6">
                  <%= f.label "State" %>
                  <%= f.text_field :state, :class => "form-control" %>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                  <%= f.label "City" %>
                  <%= f.text_field :city, :class => "form-control" %>
              </div>
              <div class="form-group col-md-6">
                  <%= f.label "Zip Code" %>
                  <%= f.text_field :zip_code, :class => "form-control" %>
              </div>
            </div>
          </div>
        </div>  
        <div class="d-flex justify-content-end mb-5">
          <%= f.submit "Save", class: "btn btn-primary btn-wide" %>
        </div>
      </div>
      
  <% end %>
</div>
<%= render 'shared/notice_box', message: 'Successfully Saved!', type: 'success', name: '' %>
