<nav class="content-nav">
  <%= render "shared/subnavbar", active: "requests" %>
</nav>
<% if @request.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

    <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<main class="content content-with-nav">
  <div class="content-breadcrumb">
    <ul class="breadcrumb">
      <li>
        <%= link_to categories_path do %>
          <i class="fa fa-angle-left" aria-hidden="true"></i> Go Back
        <% end %>
      </li>
    </ul>
  </div>
  <header class="content-container content-with-aside">
    <div class="mentor-header mentor-header-sm content-main">
      <div class="mentor-image">
       <%= render 'shared/profile_photo',  photo: @profile.try(:photo).thumb.url %>
      </div>
      <div class="mentor-info">
        <h1><%= decorate(@profile).full_name %></h1>
        <p><%= @profile.title %></p>
        <div class="location">
          <% unless decorate(@profile).display_location_with_abbreviation.empty? %>
            <i class="fa fa-map-marker"></i>
            <%= decorate(@profile).display_location_with_abbreviation %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="mentor-pricing-and-rating content-aside">   
      <p class="pricing"><span class="currency">EXC </span><%= @profile.rate %><span class="per">/min</span></h2>
      <p class="rating">
        <%= display_stars ProfileRating.new(@profile).average_rating, 'Rating' %>
      </p>   
    </div>  
  </header>
  <div class='content-container content-with-aside'>
    <div class="content-main">
      <div class='request-form'>
        <%= form_for @request, url: request_path(@request.id), remote: true do |f| %>
          <section class='panel form-section'>
            <div class='section-title'>
              <h4>Summary</h4>
            </div>
            <div class='section-body'>
              <div class='section-body-row section-body-title'>
                <span class='msp-icon-phone summary-icon'></span>
                <h5>Reason for Call</h5>
                <a href='#' data-block="message-toggle">Change</a>
              </div>
              <div data-block="message-info" class='section-body-row'>
                <p><%= @request.message %></p>
              </div>
              <div data-block="message-form" class="section-row">
                <div class='form-group'>
                  <%= f.label :message, 'Request Details' %>
                  <small class='sub-label'>150 characters left</small>
                  <%= f.text_area :message, { class: 'form-control', rows: '5' }%>
                </div>
              </div>
            </div>
          </section>

          <section class='panel form-section'>
            <div class='section-body'>
              <div class='section-body-row section-body-title'>
                <span class='msp-icon-clock summary-icon'></span>
                <h5>Suggested Times</h5>
                <a href="#" data-block="time-toggle">Change</a>
              </div>
              <div data-block="time-info">
                <div class='section-body-row'>
                  <%= @request.first_date.strftime('%a, %b %d %Y') %> at <%= @request.first_time %>
                </div>
                <div class='section-body-row'>
                  <%= @request.second_date.strftime('%a, %b %d %Y') %> at <%= @request.second_time %>
                </div>
                <div class='section-body-row'>
                  <%= @request.third_date.strftime('%a, %b %d %Y') %> at <%= @request.third_time %>
                </div>
                <div class='section-body-row'>
                  <small><%= @request.time_zone %></small>
                </div>
              </div>
              <div data-block="time-form" class="section-row">
                <div class='form-group datetime-picker-container'>
                  <div class='picker date'>
                    <%= f.text_field :first_date, class: 'date-picker-input form-control', placeholder: 'Option 1' %>
                    <span class='date-picker-input icon-calendar-color'></span>
                  </div>
                  <span class='at-divider'>at</span>
                  <div class='picker time'>
                    <%= f.text_field :first_time, class: 'pick-time form-control' %>
                  </div>
                </div>
                <div class='form-group datetime-picker-container'>
                  <div class='picker date'>
                    <%= f.text_field :second_date,  class: 'date-picker-input form-control', placeholder: 'Option 2' %>
                    <span class='date-picker-input icon-calendar-color'></span>
                  </div>
                  <span class='at-divider'>at</span>
                  <div class='picker time'>
                    <%= f.text_field :second_time, class: 'pick-time form-control' %>
                  </div>
                </div>
                <div class='form-group datetime-picker-container'>
                  <div class='picker date'>
                    <%= f.text_field :third_date, class: 'date-picker-input form-control', placeholder: 'Option 3' %>
                    <span class='date-picker-input icon-calendar-color'></span>
                  </div>
                  <span class='at-divider'>at</span>
                  <div class='picker time'>
                    <%= f.text_field :third_time, class: 'pick-time form-control' %>
                  </div>
                </div>
                <div class='form-group'>
                  <%= f.label :time_zone, 'Your Timezone' %>
                  <%= time_zone_select_dst("msp_request", "time_zone", nil, {default: "Eastern Time (US & Canada)"}, { class: 'selectpicker selectpicker-control' }) %>
                </div>
              </div>
            </div>
          </section>
          <section class='panel form-section'>
            <div class='section-body'>
              <div class='section-body-row section-body-title'>
                <span class='msp-icon-dollar summary-icon'></span>
                <h5>Estimated Payment</h5>
                <a href='#' data-block="length-toggle">Change</a>
              </div>
              <div data-block="length-info">
                <div class='section-body-row'>
                  <span>Rate per minute</span>
                  <span data-request="price"><%= "EXC #{@profile.rate}" %></span>
                </div>
                <div class='section-body-row'>
                  <span>Requested call length</span>
                  <span data-request="length"><%= @request.requested_length %></span>
                </div>
                <div class='section-body-row'>
                  <span>Estimated cost</span>
                  <span data-request="cost"><%= "EXC #{RequestCalculator.new(@request).calculate_cost(@profile.rate)}" %></span>
                </div>
              </div>
              <div data-block="length-form" class="section-row">
                <div class='form-group'>
                  <%= f.label :requested_length, 'Aproximate Session Length' %>
                  <%= f.select :requested_length, options_for_select(Request.requested_lengths.keys.map {|k| ["#{k}", k]} ), {}, { class: 'selectpicker selectpicker-control' } %>
                </div>
              </div>
            </div>
            <div data-block="credit-form">
              <div class="section-row">
                <div class='form-group'>
                  <div class='row'>
                    <div class='col-md-8'>
                      <input type='text' class='form-control' placeholder='Credit Card #'>
                    </div>
                    <div class='col-md-4'>
                      <input type='text' class='form-control' placeholder='CVC'>
                    </div>
                  </div>
                </div>
                <div class='form-group'>
                  <div class='row'>
                    <div class='col-md-8'>
                      <%= select_month(Date.today, {}, { class: 'form-control' }) %>
                    </div>
                    <div class='col-md-4'>
                      <%= select_year(Date.today, { start_year: Date.today.year, end_year: 5.years.from_now.year }, { class: 'form-control' }) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </section>
          <%= f.submit 'Submit Request', class: 'btn btn-success btn-block', data: { toggle: 'modal', target: '#request-sent-modal'} %>
        <% end %>
      </div>
    </div>
    <div class="content-aside">
      <%= render 'shared/how_it_works' %>
    </div>
  </div>
</main>
<%= render 'request_sent_modal' %>
