<nav class="content-nav">
  <%= render "shared/subnavbar",  url: services_path, active: "requests" %>
</nav>
<main class="content content-with-nav">
  <header class="content-container content-with-aside">
    <div class="mentor-header mentor-header-sm content-main">
      <div class="mentor-image">
       <%= render 'shared/profile_photo', photo: @profile.photo.thumb.url  %>
      </div>
      <div class="mentor-info">
        <h1><%= decorate(@profile).full_name %></h1>
        <p><%= @profile.title %></p>
        <div class="location">
          <% unless decorate(@profile).display_location_with_abbreviation.empty? %>
            <i class="fa fa-map-marker"></i>
            <%= decorate(@profile).display_location_with_abbreviation %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="mentor-pricing-and-rating content-aside" >   
      <p class="pricing" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= ENV['CURRENCY'] %> <%= decorate(@profile).display_rate(@service) %>" data-trigger="hover"><span class="currency"></span><%= number_to_currency(decorate(@profile).display_rate_in_usd(@service)) %><span class="per"> per minute</span></h2>
      <p class="rating">
        <%= display_stars ProfileRating.new(@profile).average_rating, 'Rating' %>
      </p>   
    </div>  
  </header>
  <section class="content-container content-with-aside">
    <div class="panel content-main">
        <div class="request-description">
          <h2 class="title"><%= @request.title %></h2>
          <span class="strong category">Category: <%= @category.try(:name) %></span>
          <p><%= @request.message %></p>
        </div>
        <div class="request-status">
          <span class="strong">Status</span>
          <span class="strong"><%= @request.status %></span>
         <!--  <span><%= decorate(@request).session_date %></span> -->
        </div>
        <%= render 'shared/msp/join_request_room'%>
        <%= render 'shared/request_review', req: @request, review: @review if @request.completed? %>
    </div>
    <div class="content-aside">
      <div class='panel'>
        <div class='panel-body'>
          <% if @request.pending? && @request.updated_by == @request.expert %>
            <%= link_to "Suggested Times by #{@request.expert.first_name}", edit_requests_time_path(@request), class: 'mb-2 btn btn-block btn-with-icon btn-schedule' %>
          <% end %>
          <%= render 'shared/msp/aside_buttons' , profile: @profile %>
        </div>
      </div>
    </div>
  </section>
</main>
<%= render 'review_confirm_modal' %>
<%= render 'inbox/message_modal', profile: @profile %>
<% if @request.verified? %>
<%= render 'shared/notice_box', message: "Verification Done", type: 'success', name: 'show' %>
<% elsif @request.verifying?%>
<%= render 'shared/notice_box', message: "Verification In Proccess", type: 'success', name: 'show' %>
<% end %>
