<nav class="content-nav">
  <%= render "shared/subnavbar", active: "requests" %>
</nav>
<main class="content content-with-nav">
  <header class="content-container content-with-aside">
    <div class="mentor-header mentor-header-sm content-main">
      <div class="mentor-image">
       <%= render 'shared/profile_photo', photo: @profile.try(:photo).thumb.url  %>
      </div>
      <div class="mentor-info">
        <h1><%= decorate(@profile).full_name %></h1>
        <p><%= @profile.title %></p>
        <div class="location">
          <% unless decorate(@profile).display_location_with_abbreviation.empty? %>
            <i class="fa fa-map-marker"></i>
            <%= decorate(@profile).display_location_with_abbreviation %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="mentor-pricing-and-rating content-aside">   
      <p class="pricing"><span class="currency">EXC </span><%= @profile.rate %><span class="per">/min</span></h2>
      <p class="rating">
        <%= display_stars ProfileRating.new(@profile).average_rating, 'Rating' %>
      </p>   
    </div>  
  </header>
  <section class="content-container content-with-aside">
    <div class="panel content-main">
        <div class="request-description">
          <h2 class="title"><%= @request.title %></h2>
          <span class="strong category">Category: <%= @category.try(:name) %></span>
          <p><%= @request.message %></p>
        </div>
        <div class="request-status">
          <span class="strong">Status</span>
          <span class="strong"><%= @request.status %></span>
          <span><%= decorate(@request).session_date %></span>
        </div>
        <div class="request-price-information">
          <table>
            <tr>
              <td>Total Paid (60 min, 00 sec)</td>
              <td class="strong">$180.00</td>
            </tr>
            <tr>
              <td>Advanced Payement (30 min)</td>
              <td class="strong">$90.00</td>
            </tr>
            <tr>
              <td>Balance Paid (30 min)</td>
              <td class="strong">$90.00</td>
            </tr>
          </table>
        </div>
        <div class="mentor-reviews request-info-reviews">
          <h2 class="title">Your Review</h2>
          <% if @request.review.nil? %>
            <%= form_for Review.new, url: reviews_path do |f| %>
              <%= f.hidden_field :request_id, value: @request.id %>
              <div class="form-group">
                <%= f.label :rate %>
                <ul class="rating-stars">
                  <li><input type="radio" id="star_1" name="review[rate]" value="1" /><label for="star_1" class="star-label"><i class="fa fa-star-o"></i></label></li>
                  <li><input type="radio" id="star_2" name="review[rate]" value="2" /><label for="star_2" class="star-label"><i class="fa fa-star-o"></i></label></li>
                  <li><input type="radio" id="star_3" name="review[rate]" value="3" /><label for="star_3" class="star-label"><i class="fa fa-star-o"></i></label></li>
                  <li><input type="radio" id="star_4" name="review[rate]" value="4" /><label for="star_4" class="star-label"><i class="fa fa-star-o"></i></label></li>
                  <li><input type="radio" id="star_5" name="review[rate]" value="5" /><label for="star_5" class="star-label"><i class="fa fa-star-o"></i></label></li>
                </ul>
              </div>
              <div class="form-group">
                <%= f.label :message %>
                <%= f.text_area :message, class: 'form-control', rows: '4' %>
              </div>
              <%= link_to "Save", '#', { class: 'btn btn-primary btn-md btn-md-lgr', data: { toggle: "modal", target: "#review-confirm-modal" } } %>
          <% end %>
        <% else %>
          <div class="review">
            <div class="review-avatar">
              <%= render "shared/profile_photo", photo: @request.review.author.photo&.url %>
            </div>
            <div class="review-body">
              <h4><a><%= decorate(@request.review.author).full_name %></a></h4>
              <p class="quote">"<%= @request.review.message %>"</p>
            </div>
            <div class="review-rating">
              <ul class="rating-data">
                <li>
                  <%= display_stars @request.review.rate %>
                  (<%= @request.review.rate %>)
                </li>
                <li>Posted <span class="strong"><%= @request.review.created_at.strftime("%b %d, %Y")  %></span>
                </li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="content-aside">
      <div class='panel'>
        <div class='panel-body'>
          <% if @request.selected_date.blank? && @request.updated_by == @request.expert %>
            <%= link_to "Suggested Times by #{@request.expert.first_name}", edit_requests_time_path(@request), class: 'mb-2 btn btn-block btn-with-icon btn-schedule' %>
          <% end %>
          <%= render 'shared/msp/aside_buttons' %>
        </div>
      </div>
    </div>
  </section>
</main>
<%= render 'review_confirm_modal' %>
