<main class="content content-conference">
  <div class="session-container">
    <div class='session-details session-details-container'>
      <header class="text-md-center">
        <h1 class="strong">Your Session Details</h1>
      </header>
      <% if @expert_side %>
        <%= render 'shared/call_expert', profile: @request.requester %>
      <% else %>
        <%= render 'shared/call_client', profile: @expert  %>
      <% end %>
    </div>
    <div class='session-call-container'>
      <div class='session-call-controls'>
        <%= form_with url: conference_path(@request.room_sid), method: :put, id: 'session-time-form' do |f| %>
          <%= f.submit 'Submit', class: 'hidden' %>
        <% end %>
        <div class='session-call-time' data-time-start='<%= @request.started_at %>'><span data-timer='minutes'>0</span>:<span data-timer='seconds'>00</span></div>
        <div class="icon-group-controls">
          <button id='mute-audio' class='session-call-icon'>
            <span class='msp-icon-sound'></span>
          </button>
          <button id='unmute-audio' class='session-call-icon' style='display: none;'>
            <span class='msp-icon-mute'></span>
          </button>
          <button class='session-share-icon' id='get-screen'>
            <span class='msp-icon-screens' ></span>
          </button>
          <button class='session-call-icon' data-target="#other-controls" aria-expanded="false">
            <span class='msp-icon-dots'></span>
          </button>
        </div>
        <%= link_to conference_path(params[:id]), class: 'session-end-call','data-twillio-session': 'end', method: :delete do %>
          <i class="fa fa-times" aria-hidden="true"></i>
          End Session
        <% end %>
      </div>
      <div class='collapse ' id="other-controls">
        <div class='session-call-other-controls'>
        </div>
      </div>
      <div class='session-call-video'>
        <div class='webcam-wrapper'>
          <div id='remote-media-div' data-token='<%= @token %>'>
          </div>
        </div>
      </div>
      <%= render 'shared/messages_live' %>
      <div class='session-call-chat' >
       <!-- <div class="session-chat-input">
          <span class="fa fa-comment-o" aria-hidden="true"></span>
          <input type="text" class="form-control message-input" placeholder='Message'>
        </div>-->
      </div>
    </div>
  </div>  
</main>
