<main class="content content-conference">
  <div class="session-container">
    <div class='session-details session-details-container'>
      <header class="text-md-center">
        <h1 class="strong">Your Session Details</h1>
      </header>
      <% if @expert_side %>
        <%= render 'shared/call_expert', profile: @request.requester %>
      <% else %>
        <%= render 'shared/call_client', profile: @expert  %>
      <% end %>
    </div>
    <div class='session-call-container'>
      <div class='session-call-controls'>
        <div class='session-call-time'>0.02</div>
        <div class="icon-group-controls">
          <button id='mute-audio' class='session-call-icon'>
            <span class='msp-icon-sound'></span>
          </button>
          <button id='unmute-audio' class='session-call-icon' style='display: none;'>
            <span class='msp-icon-mute'></span>
          </button>
          <button class='session-call-icon'>
            <span class='msp-icon-screens'></span>
          </button>
          <button class='session-call-icon' data-toggle="collapse" data-target="#other-controls" aria-expanded="false">
            <span class='msp-icon-dots'></span>
          </button>
        </div>
        <%= link_to conference_path(params[:id]), class: 'session-end-call', method: :delete do %>
          <i class="fa fa-times" aria-hidden="true"></i>
          End Session
        <% end %>
      </div>
      <div class='collapse ' id="other-controls">
        <div class='session-call-other-controls'>
        </div>
      </div>
      <div class='session-call-video'>
        <div class='webcam-wrapper'>
          <div id='remote-media-div' data-token='<%= @token %>'>
          </div>
          <!-- <div id='local-media-ctr'>
          </div> -->
        </div>
      </div>
      <!-- <div class='session-call-chat'>
        <div class="chat-message">
          <%= image_tag "empty_user.png", width: '48', height: '48', class: 'user-photo' %>
          <h3 class="user-name">Sarah Lucy</h3>
          <span class="time-posted">5:02 PM</span>
          <p class="message-content">Hi, how are you?</p>
        </div>
        <div class="chat-message">
          <%= image_tag "empty_user.png", width: '48', height: '48', class: 'user-photo' %>
          <h3 class="user-name">John Smith</h3>
          <span class="time-posted">5:02 PM</span>
          <p class="message-content">Hi, how are you?</p>
        </div>
        <div class="chat-message system-message success">
          <p class="message-content">Sarah Resumed the session</p>
        </div>
      </div> -->
      <!-- <div class="session-chat-input">
        <span class="fa fa-comment-o" aria-hidden="true"></span>
        <input type="text" class="form-control message-input" placeholder='Message <%= @expert.first_name %>'>
      </div> -->
    </div>
  </div>  
</main>
