<header class="business-home-header page-banner">
  <div class="container banner-content">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-lg-9">
        <h1>On-Demand Advice and Mentorship from the World’s Leading Blockchain and Crypto Experts</h1>
        <p>Live video calls to answer your questions on topics relating to blockchain and crypto—from business advice to live code reviews with screen sharing and video.</p>
      </div>
    </div>   
  </div>
  <div class="container business-home-blocks">
    <div class="row no-gutters">
      <div class="col-md-6">
        <%= link_to services_path, class: "block-link block-individual" do %>
          <p>I'm looking for help</p>
          Find an Expert
          <i class="fa fa-angle-right"></i>
        <% end %>
      </div>
      <div class="col-md-6">
        <%= link_to for_mentors_path, class: "block-link block-expert" do %>
          <p>I'm an expert </p>
          Share your Expertise
          <i class="fa fa-angle-right"></i>
        <%end%>
      </div>
    </div> 
  </div>
</header>
<section class="content-section business-intro">
  <div class="container">
    <p class="m-b-0">Expercoin is an intellectual powerhouse where industry thought leaders  and practitioners are combining consulting and teaching to reinvent the future.  Our mentoring platform enables you to connect with an expert on-demand for one-on-one session or group sessions. Whether it is mastering a new technology, or troubleshooting a problem you have encountered  or  achieving more strategic business goals, our 30,000 vetted experts are standing by to help you speed up your learning.</p>
  </div>
</section>
<section class="content-section section-alternate business-offers">
  <div class="container">
    <h2>Popular Offers</h2>
    <div class="featured-services">
      <% @services.each do |service| %>
        <%= render 'shared/msp/services_card', service: service, service_url: service_path(service) %>
      <% end %>
    </div>
  </div>
</section>
<section class="business-hiw">
  <div class="container hiw-title">
    <h2>How it Works</h2>
  </div>
  <article class="content-section">
    <div class="container hiw-step step-one">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-7">
          <%= image_tag 'business_home/step_1.png', class: 'step-img' %>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-5">
          <h3 class="h3-lg"><span class="step-number">1.</span> Seek and Connect</h3>
          <p>Send your request to a particular expert by browsing for the expertise or skillset you are looking for; or broadcast your request to our community of experts.  Our matching algorithm will match you with the experts interested. All experts on our platform are pre-vetted. If you already have a preferred mentor, you can schedule your next session(s) with him/her. At this time, you will be pre-charged for the estimated length of the call, based on the expert’s per-minute rate.</p>
          <p>Enterprises can also buy a pack of one-on-one or group  sessions for their employers. Please write to us for customized solution.</p> 
        </div>
      </div>
    </div>
  </article>
  <article class="content-section section-alternate">
    <div class="container hiw-step step-two">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-5">
          <h3 class="h3-lg"><span class="step-number">2.</span> Collaborate</h3>
          <p>Mentor collaborate with you in real time using  tools such as screen sharing and video chat to get the most of your mentoring session. Whether it is technology review or code debugging, an expert is available to help you find the best way forward.</p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-7">
          <%= image_tag 'business_home/step_2.png', class: 'step-img' %>
        </div>
      </div>
    </div>
  </article>
  <article class="content-section">
    <div class="container hiw-step step-three">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-7">
          <%= image_tag 'business_home/step_3.png', class: 'step-img' %>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-5">
          <h3 class="h3-lg"><span class="step-number">3.</span> Review</h3>
          <p>At the conclusion of your session, you have the opportunity to rate your mentor across multiple dimensions such as subject matter expertise, professionalism, adherence to deadlines and cost. This cumulative rating determines the award of future engagemnets to the mentor and serves as an important motivator to do well and serve the needs of the mentees. Our platform holds every mentor accountable through this rating mechanism and other checks and balances.</p>
        </div>
      </div>
    </div>
  </article>
  <article class="content-section section-alternate">
    <div class="container hiw-step step-four">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-5">
          <h3 class="h3-lg"><span class="step-number">4.</span> Manage & Measure</h3>
          <p>If you are a HR manager or a line manager, you can see how frequently your employees are using the mentorship platform and what kind of topics are hot within your group or company.</p>
          <p>You can buy mentorship credits in bulk and give access to your team, while setting spending limits at individual level and group level.</p>
          <p>We provide rich reports with usage patterns and analysis for your review.</p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-7">
          <%= image_tag 'business_home/step_4.png', class: 'step-img' %>
        </div>
      </div>
    </div>
  </article>
</section>  
<section class="content-section business-home-categories">
  <div class="container">
    <h3 class="content-section-title h3-xl">Categories</h3>
    <div class="list-categories">
      <% @categories.each do |category| %>
        <div class="category-container">
          <%= link_to category_path(category), class: "category" do %>
            <span class="category-icon"><%= decorate(category).category_icon %></span>
            <span class="category-title"><%= category.name %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
<%= render 'shared/trusted' %>
