<!-- <header class="mentors-home-header page-banner">
  <div class="container banner-content">
    <h1>Lucrative Rewards for Mentoring and Advising individual learners and employees of companies seeking effective talent development</h1>
    <p>Experfy is working with many Fortune 500s to bring Mentoring and  Expert help from a click of a button. If you are a thought leader or a subject matter, it’s time to share your expertise with learners all around the world and get paid in the process.</p>
    <button class="btn btn-success btn-md btn-md-lgr">Apply Now</button>
  </div>
</header> -->
<header class="business-home-header page-banner">
  <div class="container banner-content">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-10">
        <h1 class="h1-sm">Lucrative Rewards for Mentoring and Advising individual learners and employees of companies seeking effective talent development</h1>
        <p>Experfy is working with many Fortune 500s to bring Mentoring and  Expert help from a click of a button. If you are a thought leader or a subject matter, it’s time to share your expertise with learners all around the world and get paid in the process.</p>
      </div>
    </div>   
  </div>
  <div class="container business-home-blocks">
    <div class="row no-gutters">
      <div class="col-md-6">
        <%= link_to profiles_path, class: "block-link block-individual" do %>
          <p>I'm looking for help</p>
          Find an Expert
          <i class="fa fa-angle-right"></i>
        <% end %>
      </div>
      <div class="col-md-6">
        <a class="block-link block-expert">
          <p>I'm an expert </p>
          Share your Expertise
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
    </div> 
  </div>
</header>
<section class="content-section section-alternate">
  <div class="container">
    <div class="mentors-features">
      <div class="feature-container">
        <div class="feature">
          <div class="feature-header">
            <%= image_tag 'mentors_home/mentors_feature_1.png' %>
            <h6>Unique Opportunity with Great Financial Gains</h6>
          </div>
          <div class="feature-body">
            <p>You are giving back to others by mentoring and advising them. You are helping them navigate critical problems and discover solutions that you have tried and tested before. It’s a great cause and you get paid in the process. A large number of opportunities await you.</p>
          </div>
        </div>
      </div>
      <div class="feature-container">  
        <div class="feature">
          <div class="feature-header">
            <%= image_tag 'mentors_home/mentors_feature_2.png' %>
            <h6>Build Your Brand and Grow Your Network</h6>
          </div>
          <div class="feature-body">
            <p>Work with Fortune 500s to expand your consulting business. Build your personal brand, develop relationships and grow your network. Once you build a reputation within a company, there is a possibility of client  booking multiple sessions with you and giving you repeat business.</p>
          </div>
        </div>
      </div>
      <div class="feature-container">  
        <div class="feature">
          <div class="feature-header">
            <%= image_tag 'mentors_home/mentors_feature_3.png' %>
            <h6>Set Your Own Rate & Work on Your Own</h6>
          </div>
          <div class="feature-body">
            <p>You have the flexibility of working at your own convenience. You can set your own per minute rate and get notified when requests matching your expertise are available. The individuals seeking advice will send you requests. You can accept them or propose times that work best for you.</p>
          </div>
        </div>
      </div>  
    </div>
  </div>
</section>
<section class="content-section">
  <div class="container">
    <h3 class="content-section-title h3-lg m-b-4">Frequently Asked Questions</h3>
    <h6>Why do businesses and individuals seek out mentors?</h6> 
    <p class="m-b-0">There are many reasons. Here are a few:</p>
    <ul>
      <li>They are stuck on a technical problem</li>
      <li>They’re evaluating a new technology</li>
      <li>They need help in debuggiing code</li>
      <li>The need advice on their career trajectory</li>
      <li>They need help in evaualting a business opportunity.</li> 
    </ul>
    <h6>What is the Experfy’s service fee?</h6>
    <p>Experfy takes a commission of 20% from your quoted price/per minute. For instance, if your profile states that your rate is $2 per minute, then our commission will be $0.4 per minute and you will receive $1.60 per minute.  In addition, Experfy also bills an administrative fee directly to clients for account management and platform use. When work is delivered and payment is made, we deduct our fee and transfer the payment to you. For corporate clients that are paying us per session for individuals and groups, our pricing is customized to suit the needs of the client. You will be paid based on your rate.</p>
    <h6>How do I get paid?</h6>
    <p>Payouts are done on a weekly basis via Stripe. Payouts will be received to your bank within one week of the payment remittance date. You will receive payout notifications via the email. You can view your total earnings by visiting your dashboard on the Experfy platform.</p>
    <h6>How much can I charge/earn?</h6>
    <p>Average rates range between $1 to $8 per minute, depending upon the market rate for your expertise and experience.  A good strategy would be to start with a low rate and increase it gradually, as you build a good reputation.  Clients can be budget sensitive so you should use a rate that will be seen as competitive.</p>
  </div>
</section>
<section class="content-section mentors-home-tips">
  <div class="container">
    <h3 class="content-section-title h3-lg">Some Tips</h3>
    <div class="row justify-content-center">
      <div class="col-xs-12 col-md-10 col-lg-9">
        <p class="ac">Being positioned at the top of our search results means more clients will see you and our account managers are more likely to recommend you. Here are a few tips to improve your ranking.</p>
      </div>
    </div>    
    <div class="mentors-tips">
      <div class="tip">
        <h6>Share Your Accomplishment</h6>
        <p>Don’t shy away from bragging. Beyond work history, include activities that showcase your expertise, like publications, blogs, research, and transaction experience.</p>
      </div>
      <div class="tip">
        <h6>Complete Your Profile</h6>
        <p>Add as much detail a possible, including a compelling description. Adding a few questions you can answer really helps. And be sure to add a photo to improve your ranking further.</p>
      </div>
      <div class="tip">
        <h6>Respond to requests</h6>
        <p>When you receive a request for a meeting, respond promptly. If you are unavailable, you can always suggest different times.</p>
      </div>
      <div class="tip">
        <h6>Ask for reviews</h6>
        <p>Experts with more calls and positive reviews also rank higher in search.</p>
      </div>
    </div>
    <p class="uc ac h5 strong m-b-2">Start getting paid for your expertise by creating your profile</p>
    <div class="ac">
      <button class="btn btn-primary btn-md btn-md-lgr">Apply Now</button>
    </div>
  </div>
</section>
<%= render 'shared/trusted' %>
