<div class="profile-title-section">
  <div class="container">
    <h2 class="profile-name">
      <%= decorate(@profile).full_name %>
        <span>
          Profile
        </span>
    </h2>
  </div>
</div>
<div class="container profile-form-container d-flex">
  <%= form_with model: @profile_form, url: settings_about_index_path, class: 'd-flex' do |f| %>
    <div class="row">
      <div class="col-sm-3">
        <%= render 'shared/profile_navigation', locals: {active: 'about'} %>
      </div>
      <div class="col-sm-9">
        <div class="profile-panel">
          <div class="panel-header">
            <h4>About</h4>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label>
                About You and Your Service Offerings (Please note this is your marketing pitch)
              </label>
              <%= f.text_area :about, class: 'wysiwyg', rows: 8 %>
            </div>
            <div class="form-group" id="profile-specialization">
              <label>
                For On-demand Learning and Mentorship, what kind of help you can provide.
              </label>
              <p><small class="text-muted">Be descriptive in short sentence. For example: Learn MEthods, Rapid Prototyping of Web Apps or Help you with your Python coding</small></p>
              <%= f.fields_for :specialization do |ff| %>
                <% 1.upto(@profile_form.specialization.length) do |i| %>
                  <div class="input-group mb-2" data-name="specialization-item">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><%= i %></span>
                    </div>
                    <%= ff.text_field "item_#{i}", class: 'form-control', value: "#{@profile.specialization["item_#{i}"]}" %>
                  </div>
                <% end %>
              <% end %>
            </div>
              <button type="button" id="add-specialization-item" class="btn btn-default" data-target="#profile-specialization"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</button>

          </div>
        </div>    
        <div class="d-flex justify-content-end mb-5">
          <%= f.submit "Save", :class => "btn btn-primary btn-wide" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= render 'shared/notice_box', message: 'Successfully Saved!', type: 'success', name: '' %>
