<nav class="content-nav">
  <%= render "shared/subnavbar", active: "payments" %>
</nav>
<main class="content content-with-nav">
  <div class="content-container user-requests">
    <div class="content-main">
      <%= render 'shared/search', url: inbox_index_path, title: 'Payments History' %>

      <div class="panel requests-list-container" data-ordered-by="none" data-order-direction="none">
        <header class="requests-list-header">
          <div class="col-md-2 sortable-item" data-sort-type="date">
            Date
          </div>
          <div class="col-md-3 sortable-item" data-sort-type="date">
            Amount (<%= ENV['CURRENCY'] %>)
          </div>
          <div class="col-md-5 sortable-item" data-sort-type="date">
            Request
          </div>
          <div class="col-md-2" data-sort-type="status">
          </div>
        </header>
        <div class="row-items-container">
          <% @transactions.each do |transaction| %>
            <div class="requests-list-row" id="<%= transaction.id %>">
              <div class="col-md-2 requests-list-item">
                <%= transaction.created_at.to_date %>
              </div>
              <div class="col-md-2 requests-list-item">
                <%= decorate(transaction).display_amount %>
              </div>
              <div class="col-md-6 requests-list-item">
                <%= link_to transaction.request.title, request_path(transaction.request) %>  
              </div>
              <div class="col-md-2 requests-list-item flex-align-right">
                <%= link_to "Details", payment_path(transaction), class: "btn-table" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>

