<nav class="content-nav">
  <div class="content-nav-container">
    <ul class="content-nav-list">
      <li>
        <%= link_to 'Send', payments_path %>
      </li>
      <li>
        <%= link_to 'Received', '#', class: 'active' %>
      </li>
    </ul>  
  </div>
</nav>
<main class="content content-with-nav">
  <div class="content-container user-requests">
    <div class="content-main">
      <%= render 'shared/search', url: inbox_index_path, title: 'Payments History' %>

      <div class="panel requests-list-container" data-ordered-by="none" data-order-direction="none">
        <header class="requests-list-header">
          <div class="col-md-3 sortable-item" data-sort-type="date">
            Sender
          </div>
          <div class="col-md-3 sortable-item" data-sort-type="date">
            Amount (<%= ENV['CURRENCY'] %>)
          </div>
          <div class="col-md-3 sortable-item" data-sort-type="date">
            Cost (<%= ENV['CURRENCY'] %>)
          </div>
          <div class="col-md-3 sortable-item" data-sort-type="status">
            Status
          </div>
        </header>
        <div class="row-items-container">
          <% @payments.each do |payment| %>
            <div class="requests-list-row" id="<%= payment.id %>">
              <div class="col-md-3 requests-list-item">
<%= link_to decorate(payment.receiver).full_name, profile_path(payment.sender) %>
              </div>
              <div class="col-md-3 requests-list-item">
                <%= payment.amount %>
              </div>
              <div class="col-md-3 requests-list-item">
                <%= payment.cost %>
              </div>
              <div class="col-md-3 requests-list-item flex-space-between">
                <span ><%= payment.status %></span>
                <%= link_to "Details", payment_path(payment), class: "btn-table" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%#= paginate @unread_messages %>
  </div>
</main>

