<nav class="content-nav">
  <%= render "shared/subnavbar",  url: services_path, active: "payments" %>
</nav>
<main class="content content-with-nav">
  <section class="content-container mt-5">
    <div class="content-main">
      <div class="panel requests-history-container">
        <div class="col-md-12 requests-history-item">
          <span class="requests-history-label">Transaction Details</span>
        </div>
      </div>
      <div class="panel requests-list-container" data-ordered-by="none" data-order-direction="none">
        <div class="row-items-container">
            <div class="requests-list-row">
              <div class="col-md-3 requests-list-item">
                <h6 class="strong">Date: </h6>
              </div>
              <div class="col-md-9 requests-list-item">
                <%= @transaction.created_at.to_date %>
              </div>
            </div>
            <div class="requests-list-row">
              <div class="col-md-3 requests-list-item">
                <h6 class="strong">Amount: </h6>
              </div>
              <div class="col-md-9 requests-list-item">
                <%= "#{ENV['CURRENCY']} #{decorate(@transaction).display_amount }" %>
              </div>
            </div>
            <div class="requests-list-row">
              <div class="col-md-3 requests-list-item">
                <h6 class="strong">Transaction Hash: </h6>
              </div>
              <div class="col-md-9 requests-list-item">
                <%= @transaction.tx_hash %>
              </div>
            </div>
            <div class="requests-list-row">
              <div class="col-md-3 requests-list-item">
                <h6 class="strong">Sender: </h6>
              </div>
              <div class="col-md-9 requests-list-item">
                <%= decorate( @transaction.sender.profile ).full_name %>
              </div>
            </div>
            <div class="requests-list-row">
              <div class="col-md-3 requests-list-item">
                <h6 class="strong">From: </h6>
              </div>
              <div class="col-md-9 requests-list-item">
                <%= @transaction.from_eth %>
              </div>
            </div>
            <div class="requests-list-row">
              <div class="col-md-3 requests-list-item">
                <h6 class="strong">To: </h6>
              </div>
              <div class="col-md-9 requests-list-item">
                <%= @transaction.to_eth %>
              </div>
            </div>
            <div class="requests-list-row">
              <div class="col-md-3 requests-list-item">
                <h6 class="strong">Block Number: </h6>
              </div>
              <div class="col-md-9 requests-list-item">
                <%= @transaction.block_number %>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
</main>
