<div class="profile-title-section">
  <div class="container">
    <h2 class="profile-name">
      <%= decorate(@profile).full_name %>
        <span>
          Profile
        </span>
    </h2>
  </div>
</div>
<div class="container profile-form-container">
    <div class="row">
      <div class="col-sm-3">
        <%= render 'shared/profile_navigation', locals: {active: 'address'} %>
      </div>
      <div class="col-sm-9">
        <h4 class="card-form-title mt-3">
          Your ETH Addresses
        </h4>
        <% @wallet.eth_addresses.safe.each do |address| %>
          <div class="card card-form">
            <div class="card-body">
              <label>Public Key: </label> <%= address.public_key %>
              <%= link_to 'Set as Default', settings_wallet_path(address,  format: :js), method: :patch, remote: true unless address.default? %>
              <%= link_to 'Delete', settings_wallet_path(address,  format: :js), class: 'text-danger', method: :delete, remote: true %>
            </div>
          </div>
        <% end %>
        <%= form_with url: settings_wallet_index_path, scope: :eth_address do |f| %>
          <div class="card card-form">
            <div class="card-body">
              <div class="form-group">
                <%= f.label :public_key, 'New ETH Address' %>
                <%= f.text_field :public_key, class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end mb-5">
          <%= f.submit "Save", :class => "btn btn-primary btn-wide" %>
        </div>
      <% end %>
      </div>
    </div>
</div>
<%= render 'shared/notice_box', message: 'Successfully Saved!', type: 'success' %>
<%= render 'shared/notice_box', message: 'Eth Address Incorrect Format!', type: 'error' %>
