
<% if @expert_transaction %>
  <% unless @client_transaction %>
    <% unless @expert_transaction.tx_hash.present? %>
      <button id='pay_expert'>
        Pay Expert
      </button>
    <% end %>
    <% if @site_transaction.tx_hash.blank? && decorate(@request).expert_received_funds? %>
      <button id='pay_site'>
          Pay Site
      </button>
    <% end %>
    <% if @expert_transaction.tx_hash.blank? && @site_transaction.tx_hash.blank? %>
      <button id='return_to_client'>
        Return To Client
      </button>
    <% end %>

    <div style="margin-top: 10px;">
      <div><a href="<%= "#{ENV['ETH_SITE']}/tx/#{resource.tx_hash}" %>" target='_blank'>Contract Transaction</a></div>
      <% if @client_transaction&.tx_hash %>
        <div><a href="<%= "#{ENV['ETH_SITE']}/tx/#{@client_transaction.tx_hash}" %>" target='_blank'>Client Withdraw Transaction</a></div>
      <% end %>
      <% if @expert_transaction.tx_hash %>
        <div><a href="<%= "#{ENV['ETH_SITE']}/tx/#{@expert_transaction.tx_hash}" %>" target='_blank'>Expert Payout Transaction</a></div>
      <% end %>
      <% if @site_transaction.tx_hash %>
        <div><a href="<%= "#{ENV['ETH_SITE']}/tx/#{@site_transaction.tx_hash}" %>" target='_blank'>Site Payout Transaction</a></div>
      <% end %>
      <% if @expert_review_transaction&.tx_hash %>
        <div><a href="<%= "#{ENV['ETH_SITE']}/tx/#{@expert_review_transaction&.tx_hash}" %>" target='_blank'>Expert Review Transaction</a></div>
      <% end %>
      <% if @client_review_transaction&.tx_hash %>
        <div><a href="<%= "#{ENV['ETH_SITE']}/tx/#{@client_review_transaction&.tx_hash}" %>" target='_blank'>Client Review Transaction</a></div>
      <% end %>
    </div>

    <div><%= decorate(@request).funds_message %></div>

    <%= form_with url: withdraw_admin_request_path(resource), local: true, id: :withdraw_form do |f| %>
      <%= f.hidden_field :tx_hash %>
      <%= f.submit "Submit", class: 'hidden', style: "display: none;" %>
    <% end %>

    <%= form_with url: expert_payout_admin_request_path(resource), local: true, id: :expert_payout_form do |f| %>
      <%= f.hidden_field :tx_hash %>
      <%= f.submit "Submit", class: 'hidden', style: "display: none;" %>
    <% end %>

    <%= form_with url: site_payout_admin_request_path(resource), local: true, id: :site_payout_form do |f| %>
      <%= f.hidden_field :tx_hash %>
      <%= f.submit "Submit", class: 'hidden', style: "display: none;" %>
    <% end %>
  <% end %>

  <script>
    if (typeof web3 !== 'undefined') {
      window.web3 = new Web3(web3.currentProvider);

      var expertAddress = "<%= @expert_address %>";
      var expertAmount =  web3.toWei(<%= @expert_amount %>);

      var siteAmount = web3.toWei(<%= @site_amount %>, 'ether');

      var abi = <%= raw Eth::Contract.abi.to_json %>;
      var contractAddress = '<%= Eth::Contract.new(@request.tx_hash).contract_address %>';
      var contract = web3.eth.contract(abi).at(contractAddress);

      function withdrawFunds() {
        contract.withdrawFunds.sendTransaction({
          gas: '3000000',
          gasPrice: 1000000000
        },function (error, result){
          if(!error){
            $('#withdraw_form').find('#tx_hash').val(result);
            $('#withdraw_form .hidden').click();
          }else{
            console.log(error);
          }
        });
      };

      function releaseSiteFunds() {
        contract.releaseSiteFunds.sendTransaction({
          gas: '3000000',
          gasPrice: 1000000000
        },function (error, result){
          if(!error){
            $('#site_payout_form').find('#tx_hash').val(result);
            $('#site_payout_form .hidden').click();
          }else{
            console.log(error);
          }
        });
      };

      function releaseExpertFunds() {
        contract.releaseExpertFunds.sendTransaction(expertAmount, {
          gas: '3000000',
          gasPrice: 1000000000
        },function (error, result){
          if(!error){
            $('#expert_payout_form').find('#tx_hash').val(result);
            $('#expert_payout_form .hidden').click();
          }else{
            console.log(error);
          }
        });
      };
    } else {
      $('#output').html('Please download and install Metamask: <a href="https://metamask.io/">https://metamask.io/</a>');
    }

    $('#pay_expert').on('click', releaseExpertFunds);
    $('#pay_site').on('click', releaseSiteFunds);
    $('#return_to_client').on('click', withdrawFunds);
  </script>
<% end %>