<% if current_user %>
  <nav class="content-nav">
    <%= render "shared/subnavbar", active: "mentors" %>
  </nav>
<% end %>  
<main class="content <%= 'content-with-nav' if current_user %>">
  <section class="mentors-hero" style="background: #555 url(<%= @category.banner %>) center center/ cover no-repeat scroll;">
    <div class="content-container mentors-hero-content">
      <h1><%= @category.name %></h1>
    </div>
  </section>
  <section class="providers-filterable">
    <div class="content-container">
      <div class="content-title">
        <h3>Top Expercoin Offerings for <%= @category.name %></h3>
      </div>
      <div class="providers-with-filters">
        <div class="providers-groups">
          <div class="providers providers-panoramic">
            <% @services.each do |service| %>
              <%= render 'shared/msp/services_card', service: service, service_url: service_path(service) %>
            <% end %>
          </div>
        </div>
        <div class="providers-with-filters">
          <div class="filter-group">
            <h5>Categories</h5>
            <% @subcategories.each do |subcategory| %>
              <%= link_to subcategory.name, category_subcategory_path(@category, subcategory) %>
            <% end %>
          </div>
        </div>
      </div>
      <%= paginate @services %>
    </div>
  </section>
</main>

