<aside class="sidebar">
  <%#= render "shared/corporate/sidebar", active: "mentorship" %>
</aside>
<nav class="content-nav">
  <%#= render "shared/corporate/msp/navbar", active: "mentors" %>
</nav>
<main class="content content-with-nav">
  <section class="mentors-hero">
    <div class="content-container mentors-hero-content">
      <h2>Welcome! Technology is changing rapidly. Take control of your career. Here you will find courses that will help you stay competitive and ahead of the curve.</h2>
      <div class="mentor-hero-search">
        <form>
          <label>What you want help with?</label>
          <div class="search-input-group">
            <input type="text" placeholder="Find mentors for" class="form-control" id="mentor_search" />
            <a class="search-clear">Clear</a>
          </div>
        </form>
        <a class="search-box-close"></a>
      </div>
    </div>
  </section>
  <section class="mentors-filterable">
    <div class="content-container">
      <div class="content-title">
        <h3>Top Experfy Mentors</h3>
      </div>
      <div class="mentors-with-filters">
        <div class="mentors mentors-panoramic">
          <% @users.each do |user| %>
            <div class="mentor-container">
              <div class="mentor-card mentor-card-panoramic">
                <%# <% if expert.country_from?("US") %>
                <%#   <%= image_tag "usa_flag.png", class: "card-flag" %>
                <%# <% end %>
                <div class="card-hero">
                  <%#= render "shared/profile_square_photo", locals: {profile: expert, linkedin: true} %>
                </div>
                <div class="card-body">
                  <h4><%= link_to decorate(user).full_name, '#' %></h4>
                  <div class="mentor-title">
                    <%= user.title %>
                  </div>
                  <div class="mentor-bio">
                    <%#= sanitize expert.description&.html_safe %>
                  </div>
                  <div class="mentor-tags">
                    <%# <% expert.expertise_number(5).each do |expertise| %>
                    <%#   <%= expertise %>
                    <%# <% end %>
                  </div>
                  <div class="mentor-location">
                    <%# <% unless expert.display_location_with_abbreviation.empty? %>
                    <%#   <i class="fa fa-map-marker"></i>
                    <%#   <%= expert.display_location_with_abbreviation %>
                    <%# <% end %>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="footer-block mentor-price-and-reviews">
                    <span class="mentor-price"><strong>$1.35</strong>/min</span>
                    <span class="mentor-reviews">
                      <%#= MentorRating.new(expert.user).average_rating %>
                      <%#= display_stars(MentorRating.new(expert.user).average_rating) %>
                    </span>
                  </div>
                  <div class="footer-block mentor-actions">
                    <%= link_to "Schedule Session", '#', class: 'btn btn-footer' %>
                    <a class="btn btn-footer-icon btn-message" href="#" data-toggle="modal" data-target="#message-mentor-modal-<%= user.id %>"></a>
                    <a class="btn btn-footer-icon btn-add"></a>
                  </div>
                </div>

              </div>
            </div>
              <%#= render 'shared/corporate/msp/message_mentor_modal', expert: expert %>
          <% end %>
        </div>
        <div class="mentors-filters">
          <div class="filter-group">
            <h5>By Industry</h5>
            <%# Branch.from_industry.each do |industry| %>
              <div class="filter-checkbox">
                <input type="checkbox" value="industry" id="<%#= industry.id %>" />
                <label for="<%#= industry.id %>"><%#= industry.name %></label>
              </div>
            <%# end %>
          </div>
          <div class="filter-group">
            <h5>By Category</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

