<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-md-10">
      <div class="panel panel-get-started">
        <div class="panel-header">
          <h1>Hi <%= "#{current_user.profile.first_name}!" %> We'd like to welcome you to Expercoin.</h1>
          <p>Since you are new, there are two ways to get started. Choose the role that describes you the best.</p>
          <%= link_to dashboard_index_path, class: "close-panel" do %>
            &times
          <% end %>
        </div>
        <div class="panel-body">
          <div class="body-block">
            <h3>As a Mentee (Buyer)</h3>
            <div class="form-group search-offers">
              <%= form_tag(services_path, method: :get, enforce_utf8: false) do %>
                <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Find Offers" %>
                <i class="fa fa-search" aria-hidden="true"></i>
              <% end %>
            </div>
            <p>Popular searches</p>
            <ul class="popular-searches">
              <% @popular_tags.each do |tag| %>
              <li><%= link_to tag.name, services_path(search: tag.name) %></li>
              <% end %>
            </ul>
          </div>
          <div class="body-block">
            <h3>As a Mentor (Seller)</h3>
            <div class="text-center">
              <%= link_to 'Create your First Offer', new_service_path, class: "btn btn-primary btn-md btn-md-lgr" %>
            </div>  
            <p>Your Offer is the service that you sell on Expercoin. Creating your Offer is an opportunity to show off your talent and provide buyers with all the information they need to help them decide to do business with you.</p>
          </div>
        </div>
        <div class="panel-footer">
          <%= link_to 'Go to Dashboard', dashboard_index_path, class: "btn btn-primary btn-md btn-md-lgr" %>
        </div>
      </div>
    </div>
  </div>
</div>
