<%= tinymce %>
<main class="content">
  <header class="content-container">
    <div class="content-main service-header">
      <div class="service-info">
        <%= f.text_field :title, class: 'form-control', placeholder: 'Service Title' %>
      </div>
    </div>
  </header>
  <section class="content-container content-with-aside">
    <div class="content-main">
      <div class="panel panel-service"> <div class="panel-header">
          <div class="service-rating-and-prices">
            <div class="rating">
              <%= decorate(@profile).average_rating %>
              <%= display_stars(decorate(@profile).average_rating) %>
            </div>
            <div class="pricing" data-container="body" data-toggle="popover" data-placement="left" data-content="<%= @profile.expercoin_rate %>" data-trigger="hover">
              <span class="text">Starting at</span>
              <span class="value"><%= number_to_currency(decorate(@profile).display_rate_in_usd) %></span>
            </div>
          </div>  
        </div>
        <div class="panel-hero">
          <div class="form-group">
            <div class="image-place">
              <div class="cover-image">
                <%= image_tag @service.cover_image.medium.url, id: 'photo_show', height: 420 %>
                <div class="d-flex justify-content-center">
                  <label class="btn btn-primary mt-2">
                    Browse Photo
                    <%= f.file_field :cover_image, style: 'display: none', id: 'photo_uploader' %>
                  </label>  
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <%= f.text_area :content, class: 'tinymce', placeholder: 'Enter your content', rows: 12 %>
          <div class="form-group mt-3">  
            <label>Category</label>
            <%= f.collection_select :category_id, @categories, :id, :name, { selected: @service.category_id, include_blank: true }, { class: 'selectpicker form-control', 'data-live-search':"true" } %>
          </div>
          <%= f.submit 'Save', class: 'btn btn-success btn-lg' %>
        </div>
      </div>
    </div>
    <div class="content-aside">
      <%= render 'shared/msp/profile_card', profile: @profile, request_url: new_request_path(expert: @profile.slug, service: @service.slug)  %>
    </div>
  </section>

</main>
