<div class="profile-title-section">
  <div class="container">
    <h2 class="profile-name">
      <%= decorate(@profile).full_name %>
      <span>
        Profile
      </span>
    </h2>
  </div>
</div>
<div class="container profile-form-container d-flex">
  <div class="row">
    <div class="col-sm-3">
      <%= render 'shared/profile_navigation', locals: {active: 'services'} %>
    </div>
    <div class="col-sm-9">
      <div class="profile-panel">
        <div class="panel-header d-flex justify-content-between align-items-center">
          <h4>Your Offerings</h4>
          <div class="panel-controls">
            <%= link_to "Create a new offering", new_service_path , class: 'btn btn-success' %>
          </div>
        </div>
        <div class="panel-body">
          <div class="mentor-services">
            <% @services.each do |service| %>
              <div class="service">
                <div class="service-hero">
                  <%= render 'shared/service_photo', photo: service.cover_image.thumb.url %>
                </div>
                <div class="service-body">
                  <h4><%= link_to service.title, service_path(service) %></h4>
                  <div class="service-controls">
                    <%= link_to edit_service_path(service), class: 'btn btn-primary btn-sm' do %>
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    <% end %>
                    <a href='javascript:void(0)' data-toggle="modal" data-target="#deleteServiceModal-<%= service.id %>" class="btn btn-danger btn-sm" >
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                    <%= render 'shared/msp/delete_service_modal', service: service %>
                  </div>
                </div> 
                <div class="service-details">
                  <ul class="service-data">
                    <li>
                      <span class="strong" data-container="body" data-toggle="popover" data-placement="left" data-content="<%= decorate(service).display_rate %>" data-trigger="hover"><%= number_to_currency(decorate(service).display_rate_in_usd) %></span> per minute
                    </li>
                    <li>Created <span class="strong"><%= service.created_at.strftime("%b %d, %Y")  %></span>
                    </li>
                  </ul>
                </div> 
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
