<!DOCTYPE html>
<html>
  <head>
    <title>Expercoin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag '$.fx.off = true;' if Rails.env.test? %>
  </head>

  <body>
    <script>
      window._cryptocurrency = "<%= ENV['CURRENCY'] %>"
    </script>
    <div class="page">
      <%= render 'shared/navbar' %>
      
      <div class="page-content">
        <%= yield %>
      </div>
        
      <%= render 'shared/footer' %>
    </div> 

    <% unless current_user  %>
      <%= render 'shared/modal_signup' %>
      <%= render 'shared/modal_login' %>
    <% end %>    
  </body>
</html>
