<!DOCTYPE html>
<html>
  <head>
    <title>Expercoin</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'dashboard/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'dashboard/application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="page">
      <%= render 'shared/navbar' %>
      
      <%= yield %>
    </div>  
  </body>
</html>