<!DOCTYPE html>
<html>
  <head>
    <title>Expercoin</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'dashboard/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'dashboard/application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag '$.fx.off = true;' if Rails.env.test? %>
  </head>
  <body>
    <script>
      window._cryptocurrency = "<%= ENV['CURRENCY'] %>"
    </script>
    <div class="page">
      <%= render 'shared/navbar' %>
      <div class='main-wrapper'>
      <%= yield %>
      <%= render 'shared/assets_form' %>
      </div>
    </div>  

    <% unless current_user  %>
      <%= render 'shared/modal_signup' %>
      <%= render 'shared/modal_login' %>
    <% end %>
  </body>
</html>
