<!DOCTYPE html>
<html>
  <head>
    <title>Expercoin</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'dashboard/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'dashboard/application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag '$.fx.off = true;' if Rails.env.test? %>
  </head>
  <body>
    <div class="page">
      <%= render 'shared/navbar' %>
      <div class='main-wrapper get-started'>
        <%= yield %>
      </div>
    </div> 
  </body>
</html>